# Fetch specific packages prefixed with scope @farsabbutt from github npm registry
@farsabbutt:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
